.Box {
    display: inline-block;
    width: 300px;
    padding: 25px;
    margin: 10px;
}

.Box--yellow{
  background-color: yellow;
}

.Box--grey {
  background-color: grey;
}

.Box--border {
  border: 10px solid black
}

.Section {
  display: flex;
  flex-direction: row;
  width: 600px;
}